<ion-header>
  <ion-toolbar>
    <ion-title>Bem Vindo Ao Smart Parking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="logForm(form)">
      <ion-label>Usuario: </ion-label>
      <ion-input name="usuario" value="" class="inputLoginPage" required type="text" ngModel ngControl="usuario"></ion-input><br>
      <ion-label>Senha: </ion-label>
      <ion-input name="senha" value="" class="inputLoginPage" required type="password" ngModel ngControl="senha"></ion-input><br>
      <ion-list class="listTipoLogin">
        <ion-radio-group #radioGroup>
          <ion-list-header>
            <ion-label>Tipo de Login</ion-label>
          </ion-list-header>
        
          <ion-item lines="none">
            <ion-label>Cliente</ion-label>
            <ion-radio slot="start" value="CLI" checked></ion-radio>
          </ion-item>
        
          <ion-item lines="none">
            <ion-label>Administrador</ion-label>
            <ion-radio slot="start" value="ADM"></ion-radio>
          </ion-item>
        
          <ion-item lines="none">
            <ion-label>Gerente</ion-label>
            <ion-radio slot="start" value="GRT"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list><br>
      <ion-button color="success" expand="block" type="submit">ENTRAR</ion-button>
      </form>
      <ion-button color="primary" expand="block">REGISTRAR</ion-button>
      <ion-item-divider></ion-item-divider><br>
      <ion-button color="dark" expand="block">ENTRAR SEM CADASTRO</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>