<ion-header>
  <ion-toolbar color="medium">
    <ion-title text-center>Nome do Local</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Localização no Mapa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Informações da Vaga</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Preço: </ion-label>
      <ion-input value="" class="inputVeiculo" readonly></ion-input><br>
      <ion-label>Localização: </ion-label>
      <ion-input value="" class="inputVeiculo" readonly></ion-input><br>
      <ion-label>Disponibilidade: </ion-label>
      <ion-input value="" class="inputVeiculo" readonly></ion-input><br>
      <ion-label>Horario de Funcionamneto do Local: </ion-label>
      <ion-input value="" class="inputVeiculo" readonly></ion-input><br>
      <ion-label>Tipo de Estacionamento: </ion-label>
      <ion-input value="" class="inputVeiculo" readonly></ion-input><br>
      <ion-label>Plano do Estacionamento: </ion-label><ion-icon name="information-circle" (click)="presentAlert()"></ion-icon>
      <ion-select placeholder="" [interfaceOptions]="customPopoverOptions" interface="popover" class="selectPlanos">
        <ion-select-option value="unicaVez">Unica Vez</ion-select-option>
        <ion-select-option value="diaria">Diaria</ion-select-option>
        <ion-select-option value="semanal">Semanal</ion-select-option>
        <ion-select-option value="mensal">Mensal</ion-select-option>
      </ion-select>
      <ion-button color="primary" expand="block">RESERVAR</ion-button>
      <ion-button color="secondary" expand="block">USAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
